.cards-data{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding:  20px;
    justify-content: space-around;
}
.category{
    background-color: #34AC9C;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #FFFFFF;
    width: 100%;
    padding: 15px;
    transition: all .3s;
    text-align: center;
}